@charset "utf-8";
@import url("./graph.css");
@import url("./quiz.css");

@font-face {
  font-family: "PTSerif";
  src: url("./ptserif.ttf");
}

:root {
  --ink-colour: #050048;
  --content-width: 750px;
}

body {
  background-image: url("./parchment.gif");
  background-repeat: repeat;
  background-size: 33%;
	width: 65vw;
  margin: 1em auto;
  font-family: "PTSerif";
	font-size: calc(1vh + 1vw);
	color: var(--ink-colour);
}
@media (max-width: 900px) {
	body { width: 90vw; }
}

a { color: #05b; cursor:pointer; text-decoration: none; }
a:hover { text-decoration: underline; }

.homepage > header > img {
	display: block;
	margin: 0 auto;
	object-fit: contain;
	max-height: 35vh;
	width: 100%;
}
.homepage > header > h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 2.5em;
	font-variant: small-caps;
}
.homepage > header > hr {
	border: none;
	display: block;
	width: 100%;
	height: 0.4em;
	background-color: var(--ink-colour);
	margin: 0;
}
.homepage > header > p {
	margin: 0.5em auto;
	font-style: italic;
	font-size: 0.9em;
	padding: 0 5em;
	text-align: center;
}
.homepage > main > h2 {
	text-align: center;
}
.homepage > main > ul {
	padding: 0;
	width: fit-content;
	margin: 0 auto;
}

.centre {
	padding: 0;
	width: fit-content;
	margin: 0 auto;
}

main {
	padding: 0 1em;
}
main h1 {
	margin: 0.5em auto;
	width: fit-content;
	font-size: 2.0em;
	text-align: center;
}
main h1::before, main h1::after {
  content: " · ";
  font-weight: bold;
}
main h2 {
	text-align: center;
	margin: 0 auto;
	font-size: 1.5em;
}
main h3 {
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;
	font-size: 1.2em;
}
main ul {
	margin: 0;
}
main img {
	display: block;
	margin: 0 auto;
	width: 90%;
	max-height: 50vh;
	object-fit: contain;
}
main figcaption {
	text-align: justify;
	margin-top: 0.5em;
	padding: 0 5em;
}
main iframe {
  display: block;
  margin: 0 auto;
	max-width: 70%;
	width: 89vh;
	height: 50vh;
}

article {
	margin-bottom: 1em;
}

header {
	border-bottom: 0.2em solid var(--ink-colour);
}
header > .banner {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	padding-bottom: 0.5em;
	border-bottom: 0.2em solid var(--ink-colour);
}
header > .banner > img {
	max-height: 20vh;
	object-fit: contain;
}
header > .banner > h1 {
	margin: auto 0;
	margin-left: 0.2em;
	text-align: center;
	font-size: 2.5em;
	font-variant: small-caps;
}
header > .tree {
	font-size: 1.2em;
}
header > .tree > img {
	display: inline-block;
	height: 1.3em;
	vertical-align: bottom;
}
header > .tree > a:not(:last-child)::after {
	content: "\00A0>";
	color: var(--ink-colour);
	font-weight: bold;
}
header > .tree > a:last-child {
	color: var(--ink-colour);
	font-style: italic;
}

/* main > section > h1 {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 30px;
}

main > section > a {
  display: block;
  position: relative;
  margin-left: 45px;
  font-size: 20px;
}

main > section > a::before {
  top: 11px;
  left: -15px;
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: black;
}

main > article > h1 {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
  width: var(--content-width);
  border-bottom: 2px solid var(--ink-colour);
}

main > article > ul {
  position: relative;
  font-size: 20px;
  margin: 0 auto;
  width: var(--content-width);
}

main > article > p {
  margin: 20px auto;
  width: var(--content-width);
}

main > article > table {
  margin: 20px auto;
  width: var(--content-width);
}

main > article > iframe {
  display: block;
  margin: 0 auto;
  width: var(--content-width);
  height: calc(var(--content-width) * 0.5625);
}  */


